/**
    flex 默认值是
        flex-grow: 0
        flex-shrink: 1
        flex-basis: auto
 */

.HolyGrail {
    border: 1px solid red;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

header{
    border: 1px solid blue;
    flex: 1;
}
footer {
    flex: 1;
    border: 1px solid orange;
}

.HolyGrail-body {
    flex: 1;
    display: flex;
    border: 1px solid darkgreen;
}

.HolyGrail-content {
    border: 1px solid palegreen;
    flex: 1;
}

.HolyGrail-nav {
    flex: 1;
    order: -1;
}

.HolyGrail-ads {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    border: 1px solid deeppink;
}
