.container {
    margin: auto;
    width: 80%;
    border: 1px solid darkgray;
}

.container > .head {
    display: flex;
    background: #cccccc;
}

.container .head > div {
    flex: 3;
    padding: 10px 10px;
}

.container .head > :first-child{
    flex: 1;
}

.container .head > :nth-child(2){
    flex: 2;
}

.body {
    display: flex;
}

.body > :first-child {
    flex: 5;
}

.body > :last-child {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.body > :last-child > div {
    padding: 2px;
}

.body > :last-child > :first-child{
    border-right: 2px solid rgba(169, 169, 169, 0.27);
}

.b-left .tr {
    display: flex;
    padding: 10px;
}

.b-left .tr > div {
    flex: 1;
}

.b-left > :nth-child(even) {
    background: rgba(204, 204, 204, 0.32);
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}


